<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/admin.css">
    <title>Admin Login</title>
    <link rel="icon" type="image/x-icon" href="/Public/images/favicon.ico.png">
</head>

<body>
    <div class="bg">
        <div class="login-container">
            <h1>Admin Login</h1>
            <form action="/admin-login" method="post">
                <label for="name">Name</label>
                <input type="text" id="name" name="Name" required>

                <label for="email">Email</label>
                <input type="email" id="email" name="Email" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>

                <input type="submit" value="Login">
            </form>
            <div class="forgot-password">
                <a href="">Forgot Password?</a>
            </div>
        </div>
    </div>
</body>

</html>