<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image with Buttons</title>
    <link rel="icon" type="image/x-icon" href="/Public/images/favicon.ico.png">
    <link rel="stylesheet" href="/Public/btns.css">
</head>
<body>

<div class="container">
    <div class="image-container">
        <img src="/Public/images/img7.webp" alt="Person thinking at a laptop">
    </div>
    <div class="overlay">
        <h1>CHOOSE YOUR ROLE</h1>
        <p>SELECT YOUR ROLE TO PROCEED</p>
        <div class="buttons">
            <a href="/voter">
                <button>VOTER</button>
            </a>
            <a href="/candidate">
                <button>CANDIDATE</button>
            </a>
        </div>
</div>

</body>
</html>
