<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidate Registration Form</title>
    <!-- <link rel="stylesheet" href="http://localhost:34000/static/candidate.css"> -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; font-src 'self' https://fonts.googleapis.com/css?family=Roboto:300,400,500' style-src 'self' http://localhost:34000/static/candidate.css' data:;"> -->
    <link rel="stylesheet" href="/Public/candidate.css">
</head>
<body>
<div class="bg">
    <div class="form-container">
        <h2 style="margin-left: 115px;">Candidate Registration</h2>
        <form action="/submit_registration" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" name="candidate_Name" required>

            <label for="cnic">Party Name</label>
            <input type="text" id="cnic" name="party" required>

            <label for="mobile">Election ID</label>
            <input type="tel" id="mobile" name="electionID" required>

            <label for="dob">Date of Birth</label>
            <input type="date" id="dob" name="DateOfBirth" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="Email" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Register</button>
        </form>
    </div>
</div>
</body>
</html>
