<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/Public/images/favicon.ico.png">
    <link rel="stylesheet" href="/Public/dash.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">ElectionHub</div>
            <nav>
                <ul>
                    <li><a href="/voters-list">Voters List</a></li>
                    <li><a href="/election-poll">Vote Cast</a></li>
                    <li><a href="/Results">Results</a></li>
                    <li><a href="/home">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="hero-text">
                <h1>WELCOME to ElectionHub!</h1>
                <h2>Make Your Vote Count and Shape the Future!</h2>
            </div>
            <div class="hero-image">
                <img src="/Public/images/img9.png" alt="Voting">
            </div>
        </section>
    </main>

</body>
</html>
