<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
</head>
<body>
    <h2>Welcome Voter</h2>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Resume</title>
    <link rel="stylesheet" href="/Public/dash.css">
    
    
</head>
<body>
    <div >
        <div class="container">
            <nav>
                <!-- <img src="images/logo.jpg" class="logo"> -->
                <ul>
                   <li><a href="#Candidates List">Candidates List</a></li>
                   <li><a href="#Voters List">Voters List</a></li>
                   <li><a href="#Cast Vote">Cast Vote</a></li>
                   <li><a href="#Result">Result</a></li>
                   <li><a href="#Logout">Logout</a></li>
                </ul>
            </nav>
            </div>
        </div>
    </div>
    <div id="Candidates List"></div>
</body>
</html>

