<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ElectionHub Home Page</title>
    <link rel="icon" type="image/x-icon" href="/Public/images/favicon.ico.png">
    <link rel="stylesheet" href="/Public/home.css">
    <link rel = "stylesheet" href="/web-fonts-with-css/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="left">
            <h1>ElectionHub</h1>
        </div>
        <div class="right">
            <div class="dropdown">
                <button class="dropbtn">Home</button>
                <div class="dropdown-content">
                    <a href="#overview">Overview</a>
                    <a href="#instructions">Instructions</a>
                    <a href="#announcements">Announcements</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Internet Voting</button>
                <div class="dropdown-content">
                    <a href="#How to Vote">How to Vote</a>
                    <a href="#Eligibility">Eligibility</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Support</button>
                <div class="dropdown-content">
                    <a href="#FAQs">FAQs</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Contact</button>
                <div class="dropdown-content">
                    <a href="#Contact Us">Contact Us</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="/" > <button class="dropbtn">Login</button></a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="text">
            <h1>Take Charge of Your Vote</h1>
            <p>Our advanced voting system makes it easy to securely participate in elections from anywhere and anytime
                with secure internet Voting. Whether you're managing large-scale University elections, small community votes our
                system ensures transparency, accuracy, and ease of use.</p>
                <a href="/" > <button class="button">Get Started</button></a>
        </div>
        <div class="image">
            <img src="/Public/images/img3.png" alt="Voting Image">
        </div>
    </div>
    <div id="overview" class="section">
        <div class="overview-content">
            <div class="overview-image">
                <img src="/Public/images/img4.jpg" alt="Overview Image">
            </div>
            <div class="overview-text">
                <h1 class="section-title" style="font-size: 2.8em;">Overview</h1>
                <p class="overview-content">Our system is built to handle elections of all sizes, from small community
                    votes to large-scale
                     for Universities. With ElectionHub, you can vote from the comfort of your
                    home or
                    anywhere with internet access, ensuring that every vote is counted accurately and fairly.</p>

            </div>
        </div>
    </div>
    <h1 style="color:black;padding: 40px 350px;">View all Features and Capabilities</h1>
    <div class="cards">
        <div class="card">
            <div class="card-number">1</div>
            <h3>Security</h3>
            <p>State-of-the-art encryption and security measures to protect voter information and prevent
                fraud.</p>
            <div class="card-footer">Top Priority</div>
        </div>
        <div class="card">
            <div class="card-number">2</div>
            <h3>Accessibility</h3>
            <p>Easy-to-use interface accessible from any device with internet connectivity.</p>
            <div class="card-footer">User-Friendly</div>
        </div>
        <div class="card">
            <div class="card-number">3</div>
            <h3>Transparency</h3>
            <p>Real-time vote tracking and results monitoring to ensure the integrity of the election
                process.</p>
            <div class="card-footer">Real-Time Updates</div>
        </div>
        <div class="card">
            <div class="card-number">4</div>
            <h3>Support</h3>
            <p>Comprehensive support and resources to assist voters and administrators at every step.</p>
            <div class="card-footer">24/7 Assistance</div>
        </div>
    </div>
    <div id="instructions" class="instructions-container">
        <img src="/Public/images/img5.png" alt="Instructions Image" class="instructions-image">
        <div class="instructions-text">
            <h2>Important Instructions</h2>
            <p>1. Register an account with a valid email.</p>
            <p>2. Verify your email address.</p>
            <p>3. Log in with your credentials.</p>
            <p>4. Registered as a Voter/Candidate.</p>
            <p>5. Select the election Poll</p>
            <p>6. Select Position.</p>
            <p>7. See the full list of candidates and cast your Vote.</p>
            <p>8. Confirm and submit your vote.</p>
        </div>
    </div>

    <div id="announcements" class="section">
        <h1 class="section-title">Stay up to date with the latest Announcements and Updates</h1>
        <div class="announcement">
            <h3 class="announcement-title">Upcoming Election Dates</h3>
            <h4 style="color:brown;font-size: 1.2em;">Posted on: July 1, 2024</h4>
            <p>The upcoming local elections will be held from August 1 to August 7, 2024. Ensure your registration is
                completed by July 30, 2024. Stay tuned for more updates.</p>
        </div>
        <div class="announcement">
            <h3 class="announcement-title">System Maintenance Notification</h3>
            <h4 style="color:brown;font-size: 1.2em;">Posted on: June 22, 2024</h4>
            <p>Our voting system will undergo scheduled maintenance on July 20, 2024, from 1:00 AM to 3:00 AM UTC.
                During this time, the system will be temporarily unavailable. We apologize for any inconvenience caused.
            </p>
        </div>
        <div class="announcement">
            <h3 class="announcement-title">New Security Features</h3>
            <h4 style="color:brown;font-size: 1.2em;">Posted on: May 20, 2024</h4>
            <p>We have implemented new security features to enhance the protection of your personal data and ensure a
                secure voting experience. Please review the updated security guidelines in the Help section.</p>
        </div>
    </div>

    <div id="How to Vote" class="section">
        <h1 class="section-title" style="font-size: 2em;padding-left: 472px;">How it Works</h1>
        <h4 style="font-size: 1.4em;">below is Step by Step guide to participate in Elections</h4>
        <div class="cards">
            <div class="card">
                <div class="card-number">1</div>
                <h3>Get Started</h3>
                <p>Create your account with a valid email address.</p>
                <div class="card-footer">Takes a few seconds</div>
            </div>
            <div class="card">
                <div class="card-number">2</div>
                <h3>Verify Email</h3>
                <p>Check your email for the verification link and verify your account.</p>
                <div class="card-footer">Takes 1 min</div>
            </div>
            <div class="card">
                <div class="card-number">3</div>
                <h3>Log In</h3>
                <p>Log in with your credentials.</p>
                <div class="card-footer">Takes a few seconds</div>
            </div>
            <div class="card">
                <div class="card-number">4</div>
                <h3>Registered as a Voter</h3>
                <p>Register as a voter to access the voting dashboard.</p>
                <div class="card-footer">Takes a 2 minutes</div>
            </div>
            <div class="card">
                <div class="card-number">5</div>
                <h3>Select Election Poll</h3>
                <p>Choose the election you want to participate in from the list.</p>
                <div class="card-footer">Takes 1 min</div>
            </div>
            <div class="card">
                <div class="card-number">6</div>
                <h3>Select Position</h3>
                <p>Choose the Position from the list.</p>
                <div class="card-footer">Takes 1 min</div>
            </div>
            <div class="card">
                <div class="card-number">6</div>
                <h3>Cast Your Vote</h3>
                <p>Make your selections, review them, and submit your vote.</p>
                <div class="card-footer">Takes a few minutes</div>
            </div>
            <div class="card">
                <div class="card-number">7</div>
                <h3>Confirm Submission</h3>
                <p>Receive a confirmation message that your vote has been recorded.</p>
                <div class="card-footer">Instant</div>
            </div>
            <div class="card">
                <div class="card-number">8</div>
                <h3>View results</h3>
                <p>finally you can see the outcomes of voting.</p>
                <div class="card-footer">Takes 2 hours</div>
            </div>
        </div>
    </div>
    <div id="Eligibility" class="section">
        <div class="overview-content">
            <div class="overview-image">
                <img src="/Public/images/img6.png" alt="Voting Image">
            </div>
            <div class="overview-text">
                <h1 class="section-title" style="font-size: 2.8em;padding-left: 50px;">Who Is Eligible</h1>
                <p class="overview-content">To be eligible to vote in University elections using our online voting
                    system, you must meet the following criteria:</p>
                <ul class="eligibility-list">
                    <li>Be a  Regular Student in University.</li>
                    <li>Hold a valid Computerized National Identity Card (CNIC).</li>
                    <li>Ensure your email address and mobile number are up to date.</li>
                    <li>Voter must be above 18 to cast vote.</li>
                    <li>Follow any additional requirements set by the University.</li>
                </ul>
                <p class="eligibility-note">Please check with the following University for specific
                    eligibility requirements and ensure all your information is accurate and up to date.</p>
            </div>
        </div>
    </div>

    <div id="FAQs" class="section">
        <div class="faqs-box">
            <h2 class="section-title" style="padding-left: 200px;font-size: 2.8em;">FAQs</h2>
            <h3>1. Who is eligible to vote online?</h3>
            <p>All registered students in University who have a valid National Identity Card (NIC) and are listed in the
                enrolled students are eligible to vote online.</p>

            <h3>2. How do I register for online voting?</h3>
            <p>To register for online voting, Create an account and follow the instructions for online voter
                registration. You will need to provide your NIC number and other personal information to complete the
                registration.</p>

            <h3>3. What documents do I need to vote online?</h3>
            <p>You will need your NIC number and a valid email address to access the ElectionHub. Make sure your
                information is up-to-date and matches the records in the University.</p>

            <h3>4. How secure is the ElectionHub?</h3>
            <p>The online voting system uses state-of-the-art encryption and security measures to ensure the integrity
                and confidentiality of your vote. All data is securely transmitted and stored to prevent unauthorized
                access or tampering.</p>

            <h3>5. Can I change my vote after submitting it?</h3>
            <p>No, once you have submitted your vote, it cannot be changed. Make sure to review your choices carefully
                before finalizing your vote.</p>

            <h3>6. When will the election results be announced?</h3>
            <p>The election results will be announced by the Election Commission of Pakistan after the voting period has
                ended and all votes have been counted. Stay tuned to official ECP announcements for the latest updates.
            </p>
        </div>
    </div>

    <div id="Contact Us" class="section contact-form-container">
        <h2  style="padding-right:  45px; font-size: 41px;">Contact Us</h2>
        <p>Fill out the form and fill me in with the details. I love meeting new people!</p>
        <form>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" required>
           <br>
            <label for="message">Message</label>
            <textarea id="message" name="message" rows="5" required style="padding-left: 60px; max-width: 550px;"></textarea>
            <br>
            <button type="submit" style="margin-bottom: 35px;">Send Message</button>
        </form>
    </div>
    <footer>
        <div class="social-media">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <a href="#"><i class="fa-brands fa-pinterest"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </footer>
    
</body>