
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ElectionHub</title>
    <link rel="icon" type="image/x-icon" href="/Public/images/favicon.ico.png">
    <link rel="stylesheet" href="/Public/style.css">
</head>
<body>
    <div class="top-left">
        <h2>ElectionHub</h2>
    </div>
    <div class="overlay">
        <h1>VOTE-BLOCK</h1>
        <p>LET YOUR VOICE BE HEARD!</p>
        <div class="buttons">
            <a href="/registration" > <button >USER SIGN-UP</button></a>
            <a href="/login" > <button >USER LOGIN</button></a>
            <a href="/" > <button >ADMIN-LOGIN</button></a>
        </div>
    </div>
    <script src="signup.js"></script>
    <script src="../frontpage/signup.js"></script>
</body>
</html>