
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="Content-Security-policy" content="style-src 'self' https://fonts.googleapis.com https://apis.google.com 'unsafe-inline'; font-src 'self' https://fonts.gstatic.com; "/> -->
    <title>Login Page</title>
    <link rel="stylesheet" href="/Public/login.css">  

</head>
<body>
    <div class="container">
        <div class="left-side">
            <h2>New here ?</h2>
            <p>If you haven't signed up, what are you waiting for?</p>
            
            <button class="signup-button" onclick="location.href='signup.html'">SIGN-UP</button>
            <img src="/Public/images/login.avif"  class="bottom-left-image">

        </div>
        <div class="right-side" >
            <h2>Sign in</h2>
            <form action="/login" method="post">
                <input type="Email" name="Email" placeholder="Email Address" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit" class="login-button">LOGIN</button>
            </form>
        </div> 
    </div>
</body>
</html>


