

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Position</title>
    <link rel="icon" type="image/x-icon" href="/Public/images/favicon.ico.png">
    <link rel="stylesheet" href="/Public/election-poll.css">
</head>
<body>
    <header>
        <h1>Online Voting System</h1>
    </header>
    <div class="main-container">
        <div class="image-container">
            <img src="/Public/images/position.jpeg" alt="Voting Image">
        </div>
        <div class="content-container">
            <div class="container">
                <h2>Select Position</h2>
                <form action="/vote-cast" method="POST">
                    <label for="Position">Select Position</label>
                    <select name="Position" id="Position">
                        <% Positions.forEach(function(Position) { %>
                            <option value="<%=Position.po %>"><%= Position.Position %></option>
                        <% }) %>
                    </select>
                    <button type="submit">Next</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

