<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voter Registration Form</title>
    <link rel="stylesheet" href="/Public/voter.css">
</head>
<body>

<div class="bg">
    <div class="form-container">
        <h2 style="margin-left:120px ;">Voter Registration</h2>
        <form action="/submit_registration" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" name="Name" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="Email" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <label for="dob">Date of Birth</label>
            <input type="date" id="dob" name="DateOfBirth" required>

            <label for="cnic">CNIC</label>
            <input type="text" id="cnic" name="CNIC" required>

            <label for="mobile">Mobile Number</label>
            <input type="tel" id="mobile" name="Mobile_Num" required>

            <button type="submit">Register</button>
        </form>
    </div>
</div>

</body>
</html>
