body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.bg {
    background-image: url('/Public/images/img8.avif');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:left;
    align-items: center;
}
.form-container {
    margin: 50px ;
    height:550px;
    width: 550px;
    padding: 20px;
    padding-left: 50px;
    border-radius: 10px;
    color:white;
   
}
.form-container input {
    width: 87%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display:block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    align-items: center;
    font-size: 15px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 800px;
}
.form-field {
    flex: 1;
    margin-right: 0px;
}
.form-container button {
    width: 30%;
    background-color: rgba(27,181,242);
    color: white;
    padding: 14px 20px;
    margin-left: 288px;
    margin-top: 18px;
    border:black;
    border-radius: 10px;
    cursor: pointer;
    border-style: groove;
    font-size: 16px;
}
.form-container button:hover {
    background-color: #00b3aa;
}